<div class="card">
      <div class="card-header text-center">
        CURRENT BALANCE
      </div>
    <div class="divider">

    </div>

  <div class="card-block text-center">
    <div class="row">
      <div class="col">
        <div>
          <i class="fa fa-ticket fa-4x float-left"></i> <span class="">Balance</span>
        </div >
        <div class="balance">
          $542.00
        </div>
        <div class="balance-due">Balance Due Date</div>
        <div class="balance-due-date">May/04/17</div>
      </div></div>
  </div>

</div>