.card-header {
    border: none;
}

.card-block {
    padding: 1.5rem;
    line-height: 2.0rem;
}

.card {
    border: none;
    color: #aba8b1;
}
.divider {
    height: 0.01rem;
    background: #aba8b1;
    width: 75%;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

}
.balance{
    color: #4990E2;
    font-size: 1.9rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.fa-credit-card{
    transform: rotate(-45deg);
    position: relative;
    top: 0px;
    left: -8px;
    font-size: 21px;

}
.curr-bal{
    padding: 0.6rem;
    color: #a0a3a5;
}
.balance-due-date{
    color: #4990E2;
    font-size: 1.9rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}