<div class="card text-center">
      <div class="card-header ">
        CURRENT BALANCE
      </div>
    <div class="divider">

    </div>

  <div *ngIf="billingData" class="card-block">
    <div class="row">
      <div class="col">
        <div>
          <i class="fa fa-credit-card"></i> <span class="text-center">Balance</span>
        </div >
        <div class="balance">
          {{billingData.billing_info.current_balance|currency:'USD':'true'}}
        </div>
      </div>
    </div>
    <div class="row ">
          <div class="col curr-bal">
        <div class="balance-due">Balance Due Date</div>
        <div class="balance-due-date">{{billingData.billing_info.balance_due_date}}</div>
      </div></div>
  </div>

</div>