.card-header {
    border: none;
}

.card-block {
    padding: 1.5rem;
}

.card {
    border: none;
    color: #a0a3a5;
}
.divider {
    height: 0.1rem;
    background: darkgray;
    width: 75%;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

}
.balance{
    font-size: 2rem;
    color: #4990E2;
    margin-left: 0px;
}
.fa-credit-card{
    float: left;
    transform: rotate(-45deg);
    margin: 1rem 0rem 1rem 1.5rem;
    font-size: 3rem;
    -webkit-box-shadow: -1px 20px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 20px 17px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 20px 17px -6px rgba(0,0,0,0.75);
}
.curr-bal{
    padding: 0.6rem;
    color: #a0a3a5;
}
.balance-due-date{
   color: #4990E2;
   font-size: 2rem;
}