.col-charges{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-right: 2px solid silver;
}
.col-charges:last-child{
    border-right:none ;
}
.col-charges > .title {
    color: #4f4f4f;
    font-size: 0.8rem;
}
.table {
    font-size: 0.8rem;;
}
.card-header{

}
.blue-txt{
    color: blue;
}
.card {
    padding: 1.25rem;
    background-color: #F8F8F8;;
}
.card-block {
    padding: 0rem;
    padding-top: 0.5rem;
    background-color: #F8F8F8;;
}

.card-header{
    background: #fff;
}
.cat__core__sortable__collapse,.cat__core__sortable__uncollapse{
    color: #0a0a0a;
}
.table {
    padding: 0;
    background: #fff;
}

.col-charges .currency-big {
    color: #4990E2;
    font-size: 2rem;
    font-stretch: ultra-condensed;
}
.align-text-bottom{
  margin-right: 0px;
    padding-right: 0;
}