<nav class="cat__menu-left">
    <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
        <div class="cat__menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="cat__menu-left__logo">
        <a [routerLink]="['/']">
            <img src="assets/modules/core//img/logo.png">
        </a>
    </div>
    <div class="cat__menu-left__inner">
        <ul class="cat__menu-left__list cat__menu-left__list--root">
            <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['unifier/home']">
                    <span class="cat__menu-left__icon "><img src="assets/modules/menu-left//icons/home.png"></span>
                    Customer
                </a>
            </li>

            <li class="cat__menu-left__divider"><!-- --></li>
            <li class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
                <a href="javascript: void(0);">
                    <span class="cat__menu-left__icon "><img src="assets/modules/menu-left//icons/line.png"></span>
                    Line
                </a>
                <ul class="cat__menu-left__list">
                    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a [routerLink]="['pages/login-alpha']">
                            Line Details
                        </a>
                    </li>
                    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a [routerLink]="['pages/login-beta']">
                            Order History
                        </a>
                    </li>
                    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a [routerLink]="['pages/register']">
                            Line Activities
                        </a>
                    </li>
                    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
                        <a [routerLink]="['pages/lockscreen']">
                            More..
                        </a>
                    </li>
                </ul>
            </li>
            <li class="cat__menu-left__item cat__menu-left__list--root" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['ecommerce/dashboard']">
                            <span class="cat__menu-left__icon"><!-- <i class="fa fa-2x fa-universal-access"></i> --> <img src="assets/modules/menu-left//icons/billing.png">
                            </span>
                    Billing and Payment
                </a>
            </li>

            <li class="cat__menu-left__item cat__menu-left__list--root" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['ecommerce/products-catalog']">
                    <span class="cat__menu-left__icon"><!-- <i class="fa fa-2x fa-universal-access"></i> --><img src="assets/modules/menu-left//icons/catalog.png"></span>
                    Products Catalog
                </a>
            </li>

            <li class="cat__menu-left__item cat__menu-left__list--root" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['ecommerce/product-details']">
                    <span class="cat__menu-left__icon"><!-- <i class="fa fa-2x fa-universal-access"></i> --><img src="assets/modules/menu-left//icons/finance.png"></span>
                    Finance And Collections
                </a>
            </li>

            <li class="cat__menu-left__item cat__menu-left__list--root" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['ecommerce/product-edit']">
                    <span class="cat__menu-left__icon"><!-- <i class="fa fa-2x fa-universal-access"></i> --><img src="assets/modules/menu-left//icons/plans.png"></span>
                    Plans
                </a>
            </li>

            <li class="cat__menu-left__item cat__menu-left__list--root" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['ecommerce/products-list']">
                            <span class="cat__menu-left__icon"><!-- <i class="fa fa-2x fa-headphones"></i> -->
                                <img src="assets/modules/menu-left//icons/help-line.png">
                            </span>
                    Help Center
                </a>
            </li>

            <li class="cat__menu-left__item cat__menu-left__list--root" [routerLinkActive]="['cat__menu-left__item--active']">
                <a [routerLink]="['ecommerce/orders']">
                            <span class="cat__menu-left__icon"><!-- <i class="fa fa-2x fa-address-book"></i> -->
                                <img src="assets/modules/menu-left//icons/more.png">
                            </span>
                    More Activities
                </a>
            </li>


        </ul>
    </div>
</nav>
