<div class="card">
    <div class="card-header">
                BILLING DETAILS
    </div>

<div *ngIf="billingData" class="card-block">
  <div class="row">
    <div class="col left-title">
      Last Bill Amt
    </div>
    <div class="col">
      {{billingData.billing_info.last_billed_amount}}
      </div>
  </div>

  <div class="row">
    <div class="col left-title">
      Past Due Balance
    </div>
    <div class="col">
      {{billingData.billing_info.past_due_balance}}
    </div>
  </div>
  <div class="row">
    <div class="col left-title">
      Last Payments
    </div>
    <div class="col">
      {{billingData.last_payment[0].amount}}
      <button [popover]="myPopover" style="cursor: pointer" class="moredetails" id="morepayment"> <i class="fa fa-2x fa-angle-right"></i> </button>

      <popover-content #myPopover
                       placement="auto right"
                       title=""
                       [animation]="true"
                       [closeOnClickOutside]="true" >
          <table class="table table-condensed">
              <tbody>
                  <tr *ngFor="let payment of billingData.last_payment" >
                      <td>{{payment.date}}</td><td>{{payment.amount}}</td>
                  </tr>
              </tbody>
          </table>
      </popover-content>
    </div>
  </div>

  <div class="row">
    <div class="col left-title">
      Next Bill Date
    </div>
    <div class="col">
      {{billingData.billing_info.next_bill_cycle}}
    </div>
  </div>
</div>
</div>