<!--<div class="row">-->
    <!--<div class="col-xs-12 col-lg-10 col-lg-offset-2 align-content-lg-center">-->
            <!--<form class="form" (submit)="updateSearchTerm()">-->
                <!--&lt;!&ndash;<i (click)="updateSearchTerm()" class="icmn-search">&lt;!&ndash; &ndash;&gt;</i>&ndash;&gt;-->
                <!--<div class="form-control">-->
                    <!--<input class="input input-group "  #searchTerm (submit)="updateSearchTerm()" type="text" placeholder="Search account/customer..." />-->
                <!--</div>-->
                <!--<div class="form-control">-->
                    <!--<button type="submit" class="btn btn-info float-lg-right">SEARCH</button>-->
                <!--</div>-->
            <!--</form>-->
    <!--</div>-->
<!--</div>-->
<div class="panel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div id="imaginary_container">
                    <!--<form [formGroup]="searchForm">-->
                        <!--<div class="input-group stylish-input-group">-->
                            <!--<input formControlName="search"  value="{{searchTerm}}" (focus)="onFocus()" (focusout)="onFocusOut()"  type="text" class="form-control"   placeholder="Search" />-->
                            <!--<span class="">-->
                                    <!--<button  class="search-button" type="">-->
                                        <!--SEARCH-->
                                    <!--</button>-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--<div class="dropdown" [class.open]="!autoHide.hide">-->
                        <!--<ul *ngIf="searchData.length" class="dropdown-menu"  >-->
                            <!--<li  *ngFor="let searchObj of searchData " class="dropdown-item" (click)="onSelectAccount(searchObj)">-->
                                <!--Last Name : {{searchObj.last_name}}-->
                                <!--|-->
                                <!--Account Number : {{searchObj.fa_account}}-->
                                <!--|-->
                                <!--Customer ID : {{searchObj.customer_id}}-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    <!--</form>-->
                <app-search [enableButton]="true"></app-search>
                </div>
            </div>

        </div>
    <br>
    <div class="icon-container">
            <div class="card text-center disabled" >
                <div class="icon" >
                   <span class="lnr lnr-user fa-x" ></span>
                </div>
                <div class="icon-text">
                    Register a new Customer
                </div>
            </div>
            <div class="card text-center disabled">
                <div class="icon" >
                    <span class="lnr lnr-smartphone fa-x"></span>
                </div>
                <div class="icon-text">
                    Upgrade
                </div>
            </div>

            <div class=" card text-center disabled">
                <div class="icon" >
                    <span class="lnr lnr-gift fa-x"></span>
                </div>
                <div class="icon-text">
                    Change Plan
                </div>
            </div>

            <div class="card text-center ">
                <div class="icon" >
                    <i class="fa fa-cc-visa fa-x"></i>
                </div>
                <div class="icon-text">
                    Payment
                </div>
            </div>
        </div>
</div>