.panel {
    background: #ffffff;
    display: flex;
    align-items: center;
    height: 90vh;

}

body {
    background: #ffffff;
}

#imaginary_container {
    background-color: #f2f4f8;
    padding: 2.3rem;
    margin: 2.4rem;
}
#imaginary_container[_ngcontent-c2] {
   
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    box-shadow:0 0 0;
    border: 0.1rem solid #4990E2; ;
}
.stylish-input-group .form-control:focus{
    background-color:whitesmoke;
}

.btn-info {
    background: transparent;
    border: 0;

}
.card{
    width: 22%;
    -webkit-box-shadow: 1px 3px 13px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 3px 13px 0px rgba(0,0,0,0.12);
    box-shadow: 1px 3px 13px 0px rgba(0,0,0,0.12);
    color: #a0a3a5;
    padding: 1rem 1rem 2rem 1rem !important;
}

.disabled {
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.card:hover {
    border: 0.15rem solid #4990E2;
    cursor: pointer;
}

.disabled:hover {
    cursor: not-allowed;
    border: 1px solid rgba(0,0,0,.12);
}
.vertical-center {
    margin-top: 15%;
    display: flex;
    align-items: center;
}

.icon {
    padding-top: 3.3rem;
    padding-bottom: 1rem;
}

.icon-container {
    display: flex;
    justify-content:space-around;
    background-color: #f5f0e5;
    padding: 1.3rem;
}


.fa-x{
    font-size: 2rem;
}
.icon-container {
    background-color: #fff !important; 
}
.search-button{
    margin: 0 0 0 0.5rem;
    border: 0rem solid #0b3e6f !important;
}


@media only screen and (max-width: 71.25em) {
    .fa-x{
        font-size: 2.5rem;
    }

    .icon-text {
        font-size: 0.8rem;
    }
    .icon {
        padding: 1rem;
    }
}