ul.list{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.list-group-item{
    text-transform: uppercase;
}

.card-block{
    padding: 0 !important;
    background-color: white;
    padding: 0;
    border: 1px solid #e4e9f0;

}

.bigblue-text{
    font-size: 22px;
    text-align: left;
    color: #4990E2;
    font-weight: 300;
    padding-bottom: 0.7rem;
}
.col.text-center{
    text-align: left !important;
    color: #ABA8B1;
    line-height: 1.35em;
    margin-top: 4rem;
}

.col.text-center div:nth-child(3){
    padding-bottom: 0.7rem;
}

.list-group-item{
    border-radius: 0px;
    padding: .3rem 1.25rem;
    color: #ABA8B1;
}

.list-group-item:first-child{
    border-top: 0px solid grey;

}

.list-group-item:last-child{
    border-bottom: 0px solid grey;
    padding: 1.4rem 1.25rem;
}

.col{
    margin-top:20px;
}

.redtext{
    font-size: 2rem;
    color: #F16A7B;
    font-weight: 300;
    margin: 0 0 0.4rem 0.4rem;
}
.row.no-gutter{
    border-left: 0.05rem solid #D8D8D8;
}
/*.row:last-child{
	border-left: 0rem solid #D8D8D8;
}
*/
