ul.list{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.list-group-item{
    text-transform: uppercase;
}

.card-block{
    padding: 0 !important;
    background-color: white;
    padding: 0;
    border: 1px solid #e4e9f0;

}

.bigblue-text{
    font-size: 22px;
    text-align: left;
    color: #4990E2;
    font-weight: 300;
    padding-bottom: 0.7rem;
}
.col.text-center{
    text-align: left !important;
    color: #ABA8B1;
    line-height: 1.35em;
    margin-top: 2rem;
    font-weight: 300;
}

.col.text-center div:nth-child(3){
    padding-bottom: 0.7rem;
}

.list-group-item{
    border-radius: 0px;
    padding: .3rem 1.25rem;
    color: #ABA8B1;
    border-right: 0px solid grey !important;
    max-width: 95%;
}

.list-group-item[_ngcontent-c13]:first-child {
    border-top: 0px solid grey;
    border-right: 0px solid grey;
    max-width: 90%;
}

.list-group-item:last-child{
    border-bottom: 0px solid grey;
    padding: 1.4rem 1.25rem;
}

.col{
    margin-top:20px;
}

.redtext.no-space {
    margin-left: 0px !important;
}

.redtext{
    font-size: 1rem;
    color: #F16A7B;
    font-weight: 300;
    display: block;
    margin: 0 0.4rem 0.1rem 0.3rem;
}

.row.no-gutter{
    border-left: 0.05rem solid #D8D8D8;
}
/*.row:last-child{
	border-left: 0rem solid #D8D8D8;
}
*/

#circle::after {
    content: "72%";
    line-height: 2rem;
    position: absolute;
    top: 67px;
    left: 59px;
    font-size: 2rem;
    font-weight: 300;
    color: #ccc;
}

#circle {
    width: 100px;
    height: 100px;
}
round-progress{
    width: 87px !important;
    position: relative;
    top: 1rem;
    left: 2rem;
}
path{
    stroke-width: 2.5 !important;
}
.chart svg {
    width: 100px !important;
}