<div class="row no-gutter">
    <div class="col-7">
        <div class="row">
            <div class="col">
                <div class="title">
                    Allowances(GB)
                </div>
                <div class="chart" id="circle">

                </div>
            </div>
            <div class="col text-center">
                <div class="bigblue-text">
                    20.00GB
                </div>
                <div>Used</div>
                <div>16.67GB</div>
                <div>Remained</div>
                <div>5.33 GB</div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <ul class="list">
            <li class="list-group list-group-item">OfferName <span class="redtext">A</span> </li>
            <li class="list-group list-group-item">remain days <span class="redtext">15</span>  </li>
            <li class="list-group list-group-item">devices <span class="redtext">20</span> </li>
            <li class="list-group list-group-item">Benefits/Rewards</li>
        </ul>
    </div>
</div>