<div  *ngIf="allowance" class="row no-gutter">
    <div class="col-7">
        <div class="row">
            <div class="col">
                <div class="title">
                    Allowances(GB)
                </div>
                <div class="chart" id="circle">
                    <round-progress [current]="current" [max]="max"></round-progress>
                </div>
            </div>
            <div class="col text-center">
                <div class="bigblue-text">
                    {{allowance.allowance}}
                </div>
                <div>Used</div>
                <div>{{allowance.used}}</div>
                <div>Remained</div>
                <div>{{allowance.remained}}</div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <ul class="list">
            <li class="list-group list-group-item">OfferName <span class="redtext">{{allowance.offer_name}}</span> </li>
            <li class="list-group list-group-item">Remain days <span class="redtext">{{allowance.remained}}</span>  </li>
            <li class="list-group list-group-item">Devices <span class="redtext"></span> </li>
            <li class="list-group list-group-item">Benefits/Rewards</li>
        </ul>
    </div>

</div>
<div *ngIf="!allowance" class="">Please Click a Period to view Details</div>