<!-- START: dashboard alpha -->
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="cat__core__sortable" id="row1">
            <app-accountcard></app-accountcard>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="cat__core__sortable" id="row2">
            <app-equipment></app-equipment>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-xs-12">
        <div class="cat__core__sortable" id="row3-left">
            <app-allowances></app-allowances>
        </div>
    </div>
    <div class="col-lg-5 col-xs-12">
        <div class="cat__core__sortable" id="row3-right">
            <app-charges></app-charges>
        </div>
    </div>
</div>
            
            
           

<!-- END: Customer Dashboard -->
