<div class="row">
    <div class="col-lg-8">
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a class="nav-link"  routerLinkActive="active_link"  [routerLink]=[accountId]>
                    <!-- <span class="fa fa-user-o"></span> --><span class="nav-link-icon-first"><img src="assets/modules/menu-left//icons/user.png"></span>
                    Customer
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"  [routerLink]="[accountId, 'payment']">
                    <!-- <span class="fa fa-credit-card"></span> --><span class="nav-link-icon"><img src="assets/modules/menu-left//icons/payment.png"></span>
                    Payment
                </a>
            </li>

            <li class="nav-item"><a disabled="" class="nav-link"   >
                    <!--   <span class="fa fa-plus-square-o"></span> --><span class="nav-link-icon"><img src="assets/modules/menu-left//icons/add.png"></span>
                    Add aceessory
                </a>
            </li>

        </ul>
    </div>
    <div class="col-lg-4 text-right">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active">
                    <img class="right-buttons" src="/assets/modules/core/img/chat.png">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="right-buttons" src="/assets/modules/core/img/ticket.png">
                </a>

            </li>
        </ul>
    </div>
</div>
