.account-details {
    padding: 1rem 0rem 0rem 1rem;
    line-height: 2.6rem;
    color: #ABA8B1;
}
/*.account-details:first-child{
	border-right: 1px solid #ABA8B1;
}*/
.cat__core__sortable__control{
    color: #0a0a0a;
}
.card {
    border: none;
    padding-bottom: 0rem;

}
.col.long-text-fix{

}
.left-title{
    color: #0D1E32;
    max-width: 160px;
}

strong{
    font-weight: 500;
}

a.nav-link .nav-link-icon img{
    margin: 10px 0 0 10px !important;
}
.reduce-font-size{
    font-size: small;
}
