<div class="account-details">
          <div class="row">
                <div class="col">
                 <strong>Status</strong>
                </div>
                <div class="col">
                  {{customerData.status}}
                </div>
          </div>

          <div class="row">
                <div class="col">
                  <strong>Plan</strong>
                </div>
                <div class="col">
                  {{customerData.plan}}
                </div>
          </div>

          <div class="row">
                <div class="col">
                    <strong>Credit Class</strong>
                </div>
                <div class="col">
                  {{customerData.creditClass}}
                </div>
          </div>
          <div class="row">
            <div class="col">
                <strong>Approved Lines</strong>
                </div>
                <div class="col">
                  {{customerData.approvedLines}}
                </div>
          </div>

          <div class="row">
                <div class="col">
                    <strong>Active Since</strong>
                </div>
                <div class="col">
                  {{customerData.activeSince}}
                </div>
              </div>
</div>
