<div *ngIf="charge" class="row no-gutter">
  <div class="col">
     <div class="total-charges">Total Charges</div>
     <div class="total-details text-center">
         
       <div class="total-charges-subheader">Total</div>
       <div class="total-charges-number"><i class="total-details-icon"><img src="assets/modules/menu-left//icons/charges.png"></i>${{charge.total}}</div>
     </div>
    <div class="charges-list">
      <div class="charge-item">Monthly charge <span class="charge-item-number">$ {{charge.monthly}}</span> </div>
      <div class="charge-item">Equipment charge <span class="charge-item-number">$ {{charge.equipment}}</span> </div>
      <div class="charge-item">Surchages & fee <span class="charge-item-number">$ {{charge.surcharge}}</span> </div>
      <div class="charge-item">Goverment Tax & Fee <span class="charge-item-number">${{charge.tax}}</span> </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="!charge">
    Please select a period to view the details
</div> -->