.total-charges {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #ABA8B1;
    border-bottom: 0.05rem solid #D8D8D8;
    margin: 0px auto;
    text-align: center;
    padding: 0 0 0.5rem 0;
    width: 50%;
}

.total-charges-subheader{
    color: #ABA8B1;
    font-size: 0.9rem;
    margin-left: -49px;
    margin-top: 6px;
}
.total-details-icon img{
    vertical-align: baseline;
    margin: 0 10px 0 -24px;
}
.total-charges-number{
    color: #4990e2;
    font-size: 1.7rem;
    margin-top: -9px;
    font-weight: 300;
}
.charge-item-number{
    color: #4990E2;
    font-weight: 400;

}
.total-details-header{
    color: #ABA8B1;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: -0.2rem;
}
.total-details-number{
    color: #4990E2;
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.charges-list{
    margin: 0 auto -7px 3.5rem;
}
 
.charge-item{
    color: #ABA8B1;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
}
.row{
    border-left: 0.05rem solid #ABA8B1;
    padding: 1rem;
    /*margin-left: 0rem;*/
}

