.list-group-item {
    border-bottom: 0.2rem solid dimgrey;
    border-right: none;
    border-top: none;
    border-left: none;
    cursor: pointer;
}

.list-group-item:last-child{
    border-bottom: none;
}
.list {
    margin: 0px;
    padding: 0px;
}

.allowances {
    padding: 0.5rem;
    margin: 0.2rem;
}