.list-group-item {
    border-bottom: 0.2rem solid dimgrey;
    border-right: none;
    border-top: none;
    border-left: none;
    cursor: pointer;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #ABA8B1;
}
.list-group-item:last-child{
    border-bottom: none;
    margin-top: 10px;
}
.list {
    color: #2B2E39;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 15%;
    border-bottom: 0.05rem solid #D8D8D8 !important;
    margin: 1rem auto 0 auto;
}

.list:last-child{
    border-bottom:0px solid grey;
    padding-bottom: 10px !important;
    width: 97%;
}
ul.list{
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-transform: uppercase;
}
.allowances {
    padding: 0.5rem;
    margin: 0px auto;
    width: 97%;
}
.blue-txt {
    color: #4990E2;
}
.card {
    padding: 1.25rem;
    background-color: #F8F8F8;
    border-radius: 0;
    margin-bottom: 1.35em;
}
.card-block{
    background-color: white;
    padding: 0;
    border: 1px solid #e4e9f0;
}

.header_title{
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #2b2e39;
}
ul{
    margin: 0;
    padding: 0;
}

.card-header{
    background-color: #F8F8F8;
    padding: 0 0 1em 0;
    margin: 0;
}
.title{
    font-size: 0.9em;
    color: #9B9B9B;
}

