<section class="card" order-id="card-1">
  <div class="card-header">
    <div class="pull-right cat__core__sortable__control">
      <i class="icmn-minus mr-2 cat__core__sortable__collapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Collapse"></i>
      <i class="icmn-plus mr-2 cat__core__sortable__uncollapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Uncollapse"></i>
      <!-- <i class="icmn-cross cat__core__sortable__close" data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove"></i> -->
    </div>
    <span class="header_title">
                <strong><span class="lnr lnr-smartphone"></span> Allowance & Usage</strong> {{mdn}}
    </span>
  </div>
  <div class="card-block" *ngIf="allowances" >
  <div class="row no-gutters">
    <div class="col-lg-4 col-xs-12">
      <div class="allowances" *ngFor = "let allowance of allowances">
        <div style="cursor: pointer" (click)="selectAllowancePeriod(allowance)" class="list">{{allowance.start_date}}-{{allowance.end_date}}</div>
      </div>
    </div>
    <div class="col-lg-8 col-xs-12">
      <app-allowance-detail></app-allowance-detail>
    </div>
  </div>
  </div>
</section>