<section class="card" order-id="card-1">
  <div class="card-header">
    <div class="pull-right cat__core__sortable__control">
      <i class="icmn-minus mr-2 cat__core__sortable__collapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Collapse"></i>
      <i class="icmn-plus mr-2 cat__core__sortable__uncollapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Uncollapse"></i>
      <!-- <i class="icmn-cross cat__core__sortable__close" data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove"></i> -->
    </div>
    <span class="cat__core__title">
                <strong><span class="lnr lnr-smartphone"></span> CHARGES/CREDITS</strong>
    </span>
  </div>
  <div class="card-block">
    <div class="row no-gutters">
      <div class="col-lg-6 col-xs-12">
        <div class="allowances">
          <div class="list-group-item">Feb/03/17-Mar/02/17</div>
          <div class="list-group-item">Feb/03/17-Mar/02/17</div>
          <div class="list-group-item ">Feb/03/17-Mar/02/17</div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <app-charge-detail></app-charge-detail>
      </div>
    </div>
  </div>
</section>