<section class="card" order-id="card-1">
                <div class="card-header">
                    <div class="pull-right cat__core__sortable__control">
                        <i class="icmn-minus mr-2 cat__core__sortable__collapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Collapse"></i>
                        <i class="icmn-plus mr-2 cat__core__sortable__uncollapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Uncollapse"></i>
                        <!-- <i class="icmn-cross cat__core__sortable__close" data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove"></i> -->
                    </div>
                    <h6 class="mb-0 text-black">
                        <span class="bold-text">
                         <span class="m5"> {{customerData.firstname}} </span>
                            <span class="m5">{{customerData.lastname}} |</span>
                            <span class="m5">{{customerData.contactNumber}}</span>
                            <span class="m5"> | PIN {{customerData.pin}} |  </span> Address :
                        </span>  <span class="blue-txt"> {{customerData.address}}</span>
                    </h6>
                  
                </div>
            <div class="card-block">
                <div class="row no-gutters">
                        <div class="col-lg-4 col-xs-12 ">
                            <app-account-detail [customerData]="customerData" ></app-account-detail>
                        </div>
                        <div class="col-lg-5 col-xs-12">
                            <app-billing></app-billing>
                        </div>
                        <div class="col-lg-3 col-xs-12">
                           <app-current-balance></app-current-balance>
                        </div>
                </div>
            </div>

</section>