<section class="card" order-id="card-1">
                <div class="card-header">
                    <div class="pull-right cat__core__sortable__control">
                        <i class="icmn-minus mr-2 cat__core__sortable__collapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Collapse"></i>
                        <i class="icmn-plus mr-2 cat__core__sortable__uncollapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Uncollapse"></i>
                        <!-- <i class="icmn-cross cat__core__sortable__close" data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove"></i> -->
                    </div>
                    <h6 class="mb-0 text-black">
                        <strong>
                          {{customerData.fistname}}  {{customerData.lastname}} | PIN {{customerData.pin}} | Address: <span class="blue-txt"> {{customerData.address}}</span>
                        </strong>
                    </h6>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-7">
                        </div>
                        <div class="col-xl-5">
                        </div>
                    </div>
                </div>
</section>