.card-header{
    background-color: #F8F8F8;
    border-bottom: none;
}

.blue-txt{
    color: #4990E2;
}
.card {
    padding: 5px;
    background-color: #F8F8F8;
    margin-bottom: 1.35em;
    border-radius: 0;
}

.card-block {
    padding-top: 0;
    padding-bottom: 0.7rem;
}

.cat__core__sortable__collapse,.cat__core__sortable__uncollapse{
    color: #0a0a0a;
}

.no-gutters > .col, .no-gutters > [class*="col-"]{
    background-color: #fff;
    border-right: 1px solid #E7E7E7;
}

.no-gutters > .col, .no-gutters > [class*="col-"]:last-child{
    background-color: #fff;
    border-right: 0px solid #E7E7E7;
}

.no-gutters {
    border: 1px solid #E7E7E7;
}

.text-black{
    line-height: 15px;
    font-size: 1.1em;

}
.cat__content{
    background-color: white !important;
}

.bold-text{
    font-weight: 500;
}
strong{
    font-weight: 500;
}
.m5{
    margin-right: 0.3rem;
}

.card-header:first-child{
    font-size: 12px;

}

@media (max-width: 32em) {
    .card-block {
        padding: 0;

    }
}